@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body {
   background-color: white;
   min-height: 200vh;
   max-width: 100vw;
}
   
header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.6s;
   padding: 40px 100px;
   z-index: 100000;
}
   
header.sticky {
   padding: 5px 100px;
   background: #fff;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .logo {
   position: relative;
   font-weight: 700;
   color: #fff;
   text-decoration: none;
   font-size: 2em;
   text-transform: uppercase;
   letter-spacing: 2px;
   transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
   position: relative;
   margin: 0 15px;
   text-decoration: none;
   color: #fff;
   letter-spacing: 2px;
   font-weight: 500px;
   transition: 0.6s;
}
header ul li a.services::after {
   content: '';
   width: 50%;
   height: 3px;
   position: absolute;
   bottom: -5px;
   left: 50%;
   transform: translateX(-50%);
   background: #fff;
   transition: width 0.3s;
}

header ul li .effect::after {
   content: '';
   width: 0;
   height: 3px;
   position: absolute;
   bottom: -5px;
   left: 50%;
   transform: translateX(-50%);
   background: #fff;
   transition: width 0.3s;
}
header ul li a:hover::after {
   width: 50%;
}

header.sticky .logo,
header.sticky ul li a {
   color: #011032;
}
   
header.sticky ul li a.services::after,
header.sticky ul li a.effect::after {
   background: #011032;
}

.mySlides {
   display: none;
}

.head-lin {
   border-bottom: 7px solid #fff;
   position: absolute;
   color: #fff;
   top: 45%;
   left: 5%;
   font-size: 100px;
}

.head-line {
   position: absolute;
   color: #fff;
   top: 65%;
   left: 5%;
   font-size: 40px;
}

.slideshow-container {
   max-width: 1400px;
   position: relative;
   margin: auto;
   width: 1349px;
   height: 630px;
   overflow: hidden;
   background-color: #000;
}

.numbertext {
   background-color: #000000aa;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
}

.dot-container {
   position: absolute;
   bottom: -35px;
   width: 100%;
   text-align: center;
}

.dot {
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #b3b3b3;
   border-radius: 50%;
   display: inline-block;
   position: relative;
   transition: background-color 0.6s ease;
   bottom: 45px;
}

.active {
   background-color: #ffffff;
}

.fade {
   animation-name: fade;
   animation-duration: 1.5s;
}

@keyframes fade {
   from {
     opacity: 0.4;
   }

   to {
      opacity: 1;
   }
}

@media only screen and (max-width: 300px) {
   .text {
     font-size: 11px;
   }
}

/*   
.banner {
   position: relative;
   width: 100%;
   height: 100vh;
   background: url(image/3382865257_7dedef23b0_o.jpg);
   background-size: cover;
}
*/
.line {
   text-align: center;
   position: relative;
   margin-top: 40px;
   color: #011032;
   margin-bottom: 50px;
   margin-top: 60px;
}

.line h1 {
   font-size: 23px;
   padding-top: 10px;
}

.line h4 {
   position: relative;
   text-align: center;
   font-size: 24px;
   word-wrap: break-word;
}

.text, .text-1, .text-2 {
   display: flex;
   flex-direction: row;
   margin-bottom: 50px;
}

.cabling, .elv, .backup, .home, .cloud, .maintenance, .ai, .data, .microsoft {
   flex: 1;
   text-align: center;
   background: #fff;
   width: 300px;
   min-height: 60px;
   max-height: 340px;
   margin: 30px;
   color: #fff;
   padding: 20px;
   background-color: rgb(221, 221, 221);
   border-radius: 20px;
   
}

.cabling h1, .elv h1, .backup h1, .home h1, .cloud h1, .maintenance h1, .ai h1, .data h1, .microsoft h1{
   position: relative;
   top: 0px;
   font-size: 20px;
   color: #011032df;
}

.cabling p, .elv p, .backup p, .home p, .cloud p, .maintenance p, .ai p, .data p, .microsoft p {
   position: relative;
   top: 5px;
   font-size: 19px;
   color: #011032c9;
}
   
.end {
   width: 100%;
   background-color: #011032;
   text-align: center;
   justify-content: center;
   padding: 20px;
}

.icons i {
   position: relative;
   margin: 0px 5px;
   color: #fff;
   margin-top: 10px;
}

.amc-container {
   height: 400px;
   width: 100%;
   margin-bottom: 80px; 
}

.amc-container .heading {
   text-align: center;
   padding-top: 150px;
   color: #fff;
}

.amc-container .button {
   text-align: center;
   padding: 20px;
   background-color: #073d94;
   width: 140px;
   margin: 20px 600px;
   border-radius: 30px;  
}

.amc-container .button p a {
   text-decoration: none;
   color: #fff;
}

.amc-container svg {
   position: absolute;
   height: 500px;
   width: 963px;
   top: 2001px;
   z-index: -1;
}

.amc-container .svg0 {
   transform: rotate(180deg);
   left: 130px;
}

.amc-container .svg1 {
   left: 200px;
}

#myBtn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 30px;
   z-index: 99;
   font-size: 18px;
   border: none;
   outline: none;
   background-color: #ef4323;
   color: rgb(255, 255, 255);
   cursor: pointer;
   width: 40px;
   height: 40px;
   border-radius: 80px;
}
 
#myBtn:hover {
   background-color: #555;
}

.end p {
  color: #fff;
  position: relative;
  margin-top: 5px;
}

.su {
   color: #fff;
   position: relative;
   font-size: 7px;
   text-align: left;
}

.whatsapp {
   position: fixed;
   bottom: 20px;
   right: 70px;
   z-index: 3;
}